<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
    <title>SCoin - Blok Zinciri</title>
    <link rel="shortcut icon" href="/html/foto/ico.ico"/>
    <link rel="stylesheet" href="/html/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/html/css/style.css"/>
    <script src="/html/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/html/js/popper.min.js"></script>
    <script src="/html/js/bootstrap.min.js"></script>
</head>
<body>
<div id="app">
    <div class="container">
    {{template "header.html" .}}
        <div class="row m0">
            <div class="col-12 text-center">
                <h2 class="text-muted">Blok Zinciri</h2>
            </div>
        </div>
        <hr/>
        <div class="row m0">
            <div class="col-12">
                <strong class="lead">Toplam: {{.BlocksLen}}</strong><br/><br/>
                <ul class="list-group">
                {{range $index,$block := .Blocks}}
                    <li class="list-group-item">
                        <strong class="text-muted">Zaman:</strong> {{$block.Timestamp}}<br/>
                        <a href="/blocktransactions?height={{$block.Height}}">
                            <strong class="text-primary">Transfer sayısı:</strong> {{$block.Transactions}}
                        </a><br/>
                        <strong class="text-muted">Önceki Blok Hash:</strong> {{$block.PrevBlockHash}}<br/>
                        <strong class="text-muted">Hash:</strong> {{$block.Hash}}<br/>
                        <strong class="text-muted">Nonce:</strong> {{$block.Nonce}}<br/>
                        <strong class="text-muted">Yükseklik:</strong> {{$block.Height}}<br/>
                        <strong class="text-muted">Address:</strong> {{$block.Address}}<br/>
                        <strong class="text-muted">Miktar:</strong> {{$block.Prize}} SC<br/>
                    </li>
                {{end}}
                </ul>
            </div>
        </div>
    {{template "footer.html" .}}
    </div>
</div>
</body>
</html>